[Unit]
Description=File Receiver
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/app
ExecStart=/usr/local/bin/fastapi run main.py
Restart=always
Environment=PATH=/home/ubuntu/app/venv/bin:/usr/bin:/bin
Environment=VIRTUAL_ENV=/home/ubuntu/app/venv

[Install]
WantedBy=multi-user.target